body{

  background-color:  silver;

}

#header{

  height: 200px;
  width: 300px;
  background-image: url('../img/logo-iut.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;

}

#par1{

background-color : blue;

}

#par2{

background-color : white;

}

#par3{

background-color : red;

}

img{

  width: 100%;

}

@media screen and (max-width: 480px){

    body{

      width: 100%;

    }

    input{

      width: 50%;

    }

}

@media (min-device-pixel-ratio: 2) {

  #header{

    height: 455px;
    background-image: url('../img/logo-iut.jpg');
    background-size: 1000px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;

  }

}
