body{

  background-color:  yellow;

}

#par1{

background-color : blue;

}

#par2{

background-color : white;

}

#par3{

background-color : red;

}

img, input{

  width: 100%;

}

@media screen and (max-width: 480px){

    body{

      width: 100%
      background-color : green;

    }

}
