body{

  background-color:  silver;
  font-size: 5px;

}

h1{

 font-size:  2vw;

}

#header{

  height: 200px;
  width: 300px;
  background-image: url('../img/logo-iut.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;

}

#par1, #par2, #par3{

  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;

}

#par1{

background-color : blue;

}

#par2{

background-color : white;

}

#par3{

background-color : red;

}

#par4{

  margin-top: top;
  width: 100%;
  border-radius: 5px;

}

#inputs{

  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

@media screen and (max-width: 480px){

    body{

      width: 100%;

    }

    #inputs{

      width: 100%;

    }

    input{

      width: 80%;

    }

    table{

      display: block;

    }

}

@media (min-device-pixel-ratio: 2) {

  #header{

    height: 455px;
    background-image: url('../img/logo-iut.jpg');
    background-size: 1000px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;

  }

}
