body{

  background-color:  yellow;

}

#header{

  width: 300px;
  background-image: url('../img/logo-iut.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;

}

#par1{

background-color : blue;

}

#par2{

background-color : white;

}

#par3{

background-color : red;

}

img, input{

  width: 100%;

}

@media screen and (max-width: 480px){

    body{

      width: 100%
      background-color : green;

    }

}

@media only screen and (min-device-pixel-ratio: 2) {

  #header{

    height: 455px;
    background-image: url('../img/logo-iut.jpg');
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;

  }

}
