*{

  background-color: silver;

}

#menu{

  height: 200px;
  width: 100%;
  border-bottom: 2px solid black;

}

#menu div{

  /*float: left;*/

}

#logo{

  width: 20%;
  height: 100%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  left : 0px;
  top : 0px;
  float: left;

}

#nav{

  margin-left: auto;
  margin-right: auto;
  top: 0px;
  float: left;

}

#nav li{

  list-style: none;
  float: left;

}

#search{

  right: 0px;
  top : 0px;
  float : right;

}
