*{

  /*background-color: silver;*/
  margin: auto;
  font-family: arial,sans-serif;
  box-sizing: border-box;

}

body{
  width: 100%;
}

#menu{

  height: 150px;
  width: 100%;
  border-bottom: 2px solid black;

}

#menu{

  /*background-color: #34495e;*/
  background-color: #2D3433;
  line-height: 150px;

}

#menu div{

  /*float: left;*/

}

#logo{

  width: 25%;
  height: 100%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  left : 0px;
  top : 0px;
  float: left;

}

#nav{

  right: 0px;
  top: 0px;
  float: right;
  height: 100%;
  margin-right: 15px;

}

#nav ul{

  margin: 0px;

}

#links{

  right: 0px;
  top: 0px;
  float: left;
  height: 100%;
  color: white;
  margin-right: 20px;

}

#links ul li{

  list-style: none;
  float: left;
  margin-left: 5px;
  margin-right: 5px;

}

#links ul li a{

  color : white;
  text-decoration: none;

}

#search{

  right: 0px;
  top : 0px;
  float : right;
  height: 100%;

}

#search input{

  border: 0px;
  padding: 0px;
  border-radius: 2px;

}

#content{

  width: 100%;
  height: 100%;

}

#banniere{

  margin-top: 10px;
  height: 400px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/banniere2.jpg");
  background-size: cover;
  border-radius: 2px;
  border: 2px solid black;

}

#texte{

  margin-top: 15px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  border: 2px solid black;
  background-color: #2D3433;

}

#texte h1{

  margin-bottom: 15px;
  margin-top: 5px;

}

#texte h1, #texte p{

  color : white;
  margin-left: 10px;
  margin-right: 10px;

}

#texte p{

  margin-bottom: 10px;

}

#liste{

  padding-top: 15px;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  background-color: #2D3433;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  box-sizing: content-box;
  min-height: 250px;

}

#image{

  width: 25%;
  text-align: center;
  float: left;
  color : white;
  box-sizing: content-box;

}

#image img{

  border-radius: 2px;
  width: 80%;
  /*border: 2px solid black;*/

}

#options{

  margin-top: 15px;
  width: 98%;
  min-height: 400px;

}

#options div{

  float: left;
  /*padding: 5%;*/
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;

}

#map iframe{

  width: 98%;
  height: 450px;

}

#formulaire input{

  float: left;

}

#formulaire input, #formulaire textarea{

    margin-bottom: 10px;
    margin-top: 10px;

}

#formulaire #prenom, #formulaire #nom, #formulaire #date, #formulaire #ville{

  width: 45%;

}

#formulaire #prenom, #formulaire #date{

  margin-right: 10%;

}

#formulaire #message{

  width: 100%;
  height: 40%;

}

#formulaire #email, #formulaire #photo{

  width: 100%;

}

#formulaire #envoyer{

  float: right;

}
