*{

  /*background-color: silver;*/

}

#menu{

  height: 200px;
  width: 100%;
  border-bottom: 2px solid black;
  line-height: 200px;

}

#menu{

  background-color: #34495e;

}

#menu div{

  /*float: left;*/

}

#logo{

  width: 20%;
  height: 100%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  left : 0px;
  top : 0px;
  float: left;

}

#nav{

  right: 0px;
  top: 0px;
  float: right;
  height: 100%;

}

#links{

  right: 0px;
  top: 0px;
  float: left;
  height: 100%;

}

#links ul li{

  list-style: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;

}

#links ul li a{

  color : white;
  text-decoration: none;

}

#search{

  right: 0px;
  top : 0px;
  float : right;
  height: 100%;

}
